body{
  font-family: 'Times New Roman',Times,serif;
  height: auto;
}

header{
  overflow: hidden;
  background-color: #313233;
  height: 80px;
  position: fixed;
  top:0;
  width: 100%;
}

.firsthead h1{
  color: white;
  text-shadow: 1px 1px 3px #1aafa3;
  position: relative;
  bottom: 20px;
}
.firsthead p{
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  position: relative;
  bottom: 40px;
  text-shadow: 1px 1px 3px #1aafa3;
}

 .toplinks {
  position: absolute;
  left: 1100px;
  top: 0px;
}

 .toplinks ul{
  list-style: none;
  display: inline-flex;
  text-align: center;
}

 .toplinks li {
  font-size: 20px;
  padding: 14px;
}
 .toplinks a{
  text-decoration: none;
  color: white;
  font-family: 'Lobster', cursive;
}

 .toplinks a:hover{
  color: #1aafa3;
  cursor: pointer;
}


/* about me part start */

#about_me {
  height: 600px;
  width: 900px;
  margin-top: 60px;
  position: relative;
  top: 70px;
  left: 240px;
  padding: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.my_img{
  position: relative;
  top: 90px;
}
.my_img img{
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_section{
  position: relative;
  left: 400px;
  bottom: 390px;
}

.info_section h1{
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  color: rgba(0,0,0,0.6 );
}

.info_section p{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  color: rgba(0,0,0,0.6);
  position: relative;
  bottom: 50px;
}

.resume_info{
  height: 110px;
  width: 110px;
  background-color: #a47bad;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  position: relative;
  bottom: 75px;
}

.resume_info  a{
  position: relative;
  left:25px;
  top:40px;
  text-decoration: none;
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.resume_info  a:hover{
  color: white;
}

.project_info{
  height: 110px;
  width: 110px;
  background-color: #89af94;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  position: relative;
  bottom: 185px;
  left: 140px;

}

.project_info a{
  position: relative;
  left:10px;
  top:40px;
  text-decoration: none;
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.project_info  a:hover{
  color: white;
}

.about_detail{
  position: relative;
  bottom: 130px;
  height: auto;
  width: 500px;
}

.about_detail p{
  font-size: 15px;
  font-family: Arial;
  text-align: justify;
}


/* project part here */

#project_section{
  width: 900px;
  height: 900px;
  margin-top: 30px;
  position: relative;
  left: 227px;
  top: 90px;
  margin: 14px;
  padding: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#project_section h1{
  color: #1aafa3;
  text-shadow: 1px 1px 1px #1aafa3;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

#project_section img{
  position: relative;
  left: 400px;
}

.project1_detail{

    padding: 14px;
    margin: 14px;
    width: 400px;
    height: 510px;
    border: 2px solid gray ;
}

.project1_detail h2{
    color: black;
    font-family: 'Pacifico', cursive;
}

.project1_detail span{
  color: gray;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.p1_detail label{
  font-size: 18px;
  font-weight: bold;
  color: #1aafa3;
  font-family: 'Lobster', cursive;
}

.p1_detail p{
  text-align: justify;
  font-family: 'Cabin', sans-serif;
  color: rgba(0,0,0,0.7);
}

.p1_tech h3{
 color: #1aafa3;
  font-family: 'Lobster', cursive;
}

.p1_tech p{
  font-weight: bold;
}

.p1_link1 a{
  text-decoration: none;
  color:  #1aafa3;
  font-family: 'Pacifico', cursive;
}

.p1_link1 a:hover{
  color: black;
  cursor: pointer;
}

.p1_link2 a{
  text-decoration: none;
  color:  #1aafa3;
  font-family: 'Pacifico', cursive;
}

.p1_link2 a:hover{
  color: black;
  cursor: pointer;
}
.project2_detail{

    padding: 14px;
    margin: 14px;
    width: 400px;
    height: 510px;
    border: 2px solid gray ;
    position: relative;
    left: 450px;
    bottom: 555px;
}

.project2_detail h2{
    color: black;
    font-family: 'Pacifico', cursive;
}

.project2_detail span{
  color: gray;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.p2_detail label{
  font-size: 18px;
  font-weight: bold;
  color: #1aafa3;
  font-family: 'Lobster', cursive;
}

.p2_detail p{
  text-align: justify;
  font-family: 'Cabin', sans-serif;
  color: rgba(0,0,0,0.7);
}

.p2_tech h3{
 color: #1aafa3;
  font-family: 'Lobster', cursive;
}

.p2_tech p{
  font-weight: bold;
}

.p2_link1 a{
  text-decoration: none;
  color:  #1aafa3;
  font-family: 'Pacifico', cursive;
}

.p2_link1 a:hover{
  color: black;
  cursor: pointer;
}

.p2_link2 a{
  text-decoration: none;
  color:  #1aafa3;
  font-family: 'Pacifico', cursive;
}

.p2_link2 a:hover{
  color: black;
  cursor: pointer;
}


/* contact information goes here */
#contact_detail{
  height: 650px;
  width: 900px;
  margin: 14px;
  padding: 14px;
  position: relative;
  top: 90px;
  left:227px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  margin-bottom: 30px;
}

#contact_detail h1{
  color: #1aafa3;
  text-align: center;
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px 3px #1aafa3;
}

.contact_info p{
  padding: 14px;
  color: gray;
  font-family: Arial;
  font-size: 18px;
}

.address {

  height: 330px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 14px;
  padding: 14px;

  }
  .address h2{
  font-family: 'Lobster', cursive;
  color: rgba(0,0,0, 0.7);
}

.address p{
  font-family: 'Cabin', sans-serif;
  padding: 5px;
  line-height: 1.5em;
}

.online{
  height: 330px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 14px;
  padding: 14px;
  position: relative;
  left: 450px;
  bottom: 373px;

}

.online h2{
  font-family: 'Lobster', cursive;
  color: rgba(0,0,0, 0.7);
}

.online span{
  font-family: 'Pacifico', cursive;
  padding: 10px;
  position: relative;
  bottom: 20px;
}

.online a{
  text-decoration: none;
  color: black;
}

.online a:hover
{
  color: #1aafa3;
  cursor: pointer;
}

/* footer goes here */

footer
{
  background-color: #313233;
  height: 60px;
  position: fixed;
  bottom:0;
  width: 100%;
}

footer p{
  color: white;
  font-size: 15px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  position: relative;
  top: 0px;
}




























/*
.topnav {
  width: 1500px;
  height: 100px;
  padding: 14px 0;
  margin: 0 auto;
  text-align: center;
}
.topnav ul{
  list-style: none;
  background-color: #444;
  padding: 0;
  margin-left: 0;
  display: inline-flex;
  text-align: center;
  height: 60px;
}
.topnav li{
  font-size: 1.2em;
  line-height: 40px;
}

.topnav a{
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 0 40px 0 40px;
  text-align: center;
  padding: 14px;
}
.topnav a:hover{
  background-color: #005f5f;
  cursor: pointer;
}
.firsthead {
  width: 990px;
  height: 200px;
}

.firsthead h1,h3 {
  position: relative;
  left: 120px;
  top: 50px;
}

.firsthead h1 {
  font-size: 40px;
  font-family: pacifico;
  color: #005f5f;
  text-align: center;
}
.firsthead h3 {
    color: #005f5f;
    text-align: center;
    font-style: italic;
  }


.skill {
    margin: 0 auto;
    width: 730px;
    height: 200px;

}
.skill h2 {
  font-family: pacifico;
  color: #005f5f;
}
.skill h3{
  font-family: pacifico;
  color: #005f5f;
  font-style: italic;
}


.project{
  margin: 0 auto;
  width: 730px;
  height: 200px;

}

.project h2{
  font-family: pacifico;
  color: #005f5f;
  text-transform: uppercase;
}


.about{
  margin: 0 auto;
  width: 730px;
  height: 200px;
}
.about h2{
  font-family: pacifico;
  color: #005f5f;
}

.contact {
  margin: 0 auto;
  width: 730px;
  height: 200px;

}
.contact h2{
  font-family: pacifico;
  color: #005f5f;
  text-transform: uppercase;
}
.continfo p{
  font-style: italic;
  font-weight: bold;
  line-height: 0.8em;
}
.continfo a{
  text-decoration: none;
  color: #005f5f;
  font-weight: bold;
}
.continfo a:hover{
  cursor: pointer;
  color: pink;
}

.conlogo{
  margin: 0 auto;
  width: 450px;
  height: 80px;

}

.conlogo .twt a{
  float: left;

}


.abthead{
  text-align: center;
  color:#005f5f ;
}

.profimg{
  text-align: center;
}

.profimg img{
  border-radius: 50%;
  border: solid;
} */





























/*@media screen and (min-width: 600px){
  .nav li {
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

}*/
